<div class="summary mt-3 mb-3 p-3">
  アグリコラ リバイズドエディション のドラフト集計ツールです。 <br>
  [登録]からドラフト内容を登録して頂いて、各カードごとに勝率などの集計を行っています。<br>
  バグ報告・要望は<a href="https://twitter.com/hellomartha">こちら(@hellomartha)</a>までお願いします。
</div>
<div class="message">
  <p> 12/5 : Version1.0をリリースしました</p>
  <p> 12/5 : Twitter連携を実装しました </p>
</div>

