@import '~bootstrap/scss/bootstrap';

.left_input{
  width: 40%;
}

.right_input{
  width: 40%;
}

.input_forms{
  width: 100%;
  margin: 20px auto;
  justify-content: center;
}

.a_pick{
  width: 100%;
  display: flex;
  justify-content: center;
}

.one-col-form{
  width: 75%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.show-form{
  width: 90%;
}


.pick_count{
  text-align: left;
  margin-left: 10%;
  font-weight: bold;
  font-size: 120%;
}
.bold{
  font-weight: bold;
  font-size: 120%;
}

legend.col-form-label{
  display: none;
}

.radiobtn-inline{
  display: inline-block;
  margin: auto 20px;
}

.hands-occupations, .hands-improvements{
  display: inline-flex;
}
.used-switch{
  width: 75px;
  height: 120px;
  margin: 3px;
}
.used-switch.grayout{
  background-color: gray;
}

.noimage{
  color: white;
  background-color: black;
}

.not-used{
  opacity: 0.5;
}

.noimage.not-used:before{
  content: "×";
  color: red;
  font-size: 40px;
}

.align-right{
  margin-left: 70%;
}
