@import '~bootstrap/scss/bootstrap';

.left_input{
  width: 40%;
}

.right_input{
  width: 40%;
}

.input_forms{
  width: 100%;
  margin: 20px auto;
  justify-content: center;
}

.a_pick{
  width: 100%;
  display: flex;
  justify-content: center;
}

.one-col-form{
  width: 75%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.show-form{
  width: 90%;
}


.pick_count{
  text-align: left;
  margin-left: 10%;
  font-weight: bold;
  font-size: 120%;
}
.bold{
  font-weight: bold;
  font-size: 120%;
}

legend.col-form-label{
  display: none;
}

.radiobtn-inline{
  display: inline-block;
  margin: auto 20px;
}

.hands-occupations, .hands-improvements{
  display: inline-flex;
}
.hands{
  width: 90%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.used-switch{
  width: 75px;
  height: 120px;
  margin: 3px;
}
.used-switch.grayout{
  background-color: black;
}

.noimage{
  color: white;
  background-color: black;
}

.not-used{
  opacity: 0.4;
}

.noimage.not-used:before{
  content: "×";
  color: red;
  font-size: 40px;
}

.align-right{
  margin-left: 70%;
}

.title-header{
  display: flex;
}
.title-header, .nav-header{
  background-color: #FFDB4F;
}
.nav-link{
  font-family: "メイリオ";
  color: black;

  &.active{
    background-color: #4F72FF;
    color: white;
  }
}

.flash_message{
  background-color: silver;
}

.message{
    padding: 0.5em 1em;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);

    p{
      margin: 0; 
      padding: 0;
    }
}

.rating{
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  
}
